.menue ul a{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    color: rgb(61, 4, 218);
    text-decoration: none;
}
.list_menue{
    list-style-type: none;
    overflow: hidden;
    float: right;
    width: fit-content;
}

.list_menue li{
    display: inline;
}

.menue a:hover{
    color: rgb(9, 7, 12);
    text-decoration: underline;
    
}

.list_info{
    list-style-image: url(../images/list.jpg)
}

.cont_input input{
    color: #a8d111;
    font-size: 35px;
    font-weight: 500;
}

.img_border{
    width: 850px;
    text-align: justify;
}

.img_border a{
    float: left;
    margin-right: 15px;
    margin-left: 10px;
}

.img_border h2{
    margin-left: 15px;
    overflow: hidden;
    margin-right: 0px;
    font-size: 25px;
}

.img_border img{
    border: 6px solid #a8d111;
    width: 400px;
}

input[type="email"]:focus{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}

textarea,
input[type="text"]{
    text-transform: capitalize;
}

.img_border img:hover{
    border: 6px solid #a7d11100;
}

.img_border div{
    display: inline;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.479);
}

.img_border button{
    background-color: #a8d111;
    color: blue;
    float: right;
}

.img_border button:active{
    background-color: red;
}

.img_border button:hover{
    background-color: black;
    color: white;
}

.p_first_letter{
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.479);
    text-indent: 40px;
    width: 850px;    
}

.p_first_letter:first-letter{
    font-size: 20;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.table_characteristics td {
    border: 4px solid black;
    vertical-align: middle;
    height: 50px;
    text-align: center;
}

.table_first_line td{
    height: 80px;
}

table {
    border-collapse: collapse;
}

body{
    background: 
            url(../images/ammo_background.jpg)
            repeat;
}

.main {
    display: flex;
    width: 980px;
    background:
            url(../images/test2.jpg);
    background-attachment: fixed;
    background-size: 100%;
    flex-direction: column;
    align-items: center;
    margin: 0px auto;
    min-height: 1000px;
    font-size: 20px;
    justify-content: space-between;
}

header {
    width: 800px;
    height: 200px;
}

.logo {
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    height: 180px;
}

footer {
    height: 200px;
    background: rgba(0, 0, 0, 0.363);
    width: 800px;
}

.footer_cop{
    position: relative;
    top: 10px;
    right: 10px;
    float: right;
    color: rgb(255, 9, 9);
}

hr{
    width: 980px;
    background-color: black;
    border: none;
    height: 2px;
    margin-left: 0px;
    margin-right: 0px;
}

.text_box{
    background: #0000006b;
    color: white;
    overflow: hidden;
}

p.text_box{
    text-indent: 40px;
}

.catalog_list{
    float: left;
    margin-right: 10px;
    margin-top: 15px;
    width: 300px;
}

.catalog_list:nth-child(3n){
    margin-right: 0px;
}

.catalog_list img{
    width: 300px;
    height: 120px;
}

.catalog_list h3{
    margin-top: 0px;
}

.cont_catalog_list{
    width: 920px;
    overflow: hidden;
}

.map {
    width: 980px;
}